.photo{
    width: 150px;
    height:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box {
    text-align: center;
    width: 300px;
    border: 15px solid blue;
    padding: 50px;
    margin: auto;
    height: 500px;
  } 
*{  
    margin: 0%; 
}
.logo{
    width:30px;
    margin-right: 100%;
}
  .inner {
    position: absolute;
  }
  